.details {
  width: 150px;
  height: 50px;
}
.details > div:nth-child(2) {
  display: grid;
  grid-template-columns: auto auto;
}

.movie {
  background: cadetblue;
  height: 250px;
  padding: 10px;
  width: 150px;
}

.quality {
  float: right;
  padding: 5px;
}

.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 150px;
}